aside
	ul.drinks
		li
			.name 
				p Чай в ассортименте
			.price
				span
					p 50
					p 150мл
				span
					p 100
					p 300 мл
		li
			.name 
				p Чай в ассортименте
			.price
				span
					p 50
					p 150мл
				span
					p 100
					p 300 мл
		li
			.name 
				p Чай в ассортименте
			.price
				span
					p 50
					p 150мл
				span
					p 100
					p 300 мл
	.topping
		ul.topping
		li
			h3 "Можно добавить" 
		li 
			.name 
				p Чай в ассортименте
			.price 
				p 20
		li 
			.name 
				p Чай в ассортименте
			.price 
				p 20
		li 
			.name 
				p Чай в ассортименте
			.price 
				p 20

