doctype html
html(lang = 'ru')
	head
	include jade/head.jade
	body
		//include jade/header.jade
		img.img-center(src = '../css/images/cup2.png' alt ='cofee') 
		include jade/section.jade
		//include jade/aside.jade
		//include jade/footer.jade

