section
	.drinks
		.wrap
			.name Эспрессо
			.cnt
				.price 
					span 50
					span /
					span 100
				.amount
					span 150 мл
					span 300 мл
		.wrap
			.name Эспрессо
			.cnt
				.price 
					span 50
					span /
					span 100
				.amount
					span 150 мл
					span 300 мл
		//- .wrap
		//- 	.name Эспрессо
		//- 	.cnt
		//- 		.price 
		//- 			span 50
		//- 			span /
		//- 			span 100
		//- 		.amount
		//- 			span 150 мл
		//- 			span 300 мл
		//- .wrap
		//- 	.name Эспрессо
		//- 	.cnt
		//- 		.price 
		//- 			span 50
		//- 			span /
		//- 			span 100
		//- 		.amount
		//- 			span 150 мл
		//- 			span 300 мл
		//- .wrap
		//- 	.name Эспрессо
		//- 	.cnt
		//- 		.price 
		//- 			span 50
		//- 			span /
		//- 			span 100
		//- 		.amount
		//- 			span 150 мл
		//- 			span 300 мл
		//- .wrap
		//- 	.name Эспрессо
		//- 	.cnt
		//- 		.price 
		//- 			span 50
		//- 			span /
		//- 			span 100
		//- 		.amount
		//- 			span 150 мл
		//- 			span 300 мл
		//- .wrap
		//- 	.name Эспрессо
		//- 	.cnt
		//- 		.price 
		//- 			span 50
		//- 			span /
		//- 			span 100
		//- 		.amount
		//- 			span 150 мл
		//- 			span 300 мл


